* {
    font-family: 'Nova Square', 'sans-serif';
}

#canvas {
    max-width: 1200px;
    margin: 10px auto;
    padding: 75px;
}

#header {
    display: flex; 
    justify-content: space-between;
}

#logo-title {
    font-size: 40px;
    color: #000000;
}

.separator {
    height: 1px;
    width: 100%;
    margin: 20px 0;
    background-color: #000000; /* Separator color */
}

#navbar {
    display: flex;
    align-items: end;
    float: right;
    font-size: 20px;
}

#navbar a {
    margin-left: 40px;
}

#tile-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 10px;
}

.tile {
    background-color: #525252;
    text-align: center;
    aspect-ratio: 1/1;
}

#filter {
    margin: 30px 0;
    font-size: 20px;
}

/* Hyperlink Style */
a {
    text-decoration: none;
    transition: color 0.3s ease;
}

a:link {
    color: #929292;
}

a:visited {
    color: #929292;
}

a:hover {
    color: #3f3f3f;
}

/* Styling for the modal container */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    justify-content: center;
    align-items: center;
    opacity: 0; /* Initial opacity for fade-in effect */
    transition: opacity 1s; /* Opacity transition */
}

/* Styling for the modal content */
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

/* Styling for the close button */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}